@font-face {
  font-family: 'Norse';
  src: url('./font/@font-face/fd1ad3a0f95210975d2f5607501020b5.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('./font/@font-face/fd1ad3a0f95210975d2f5607501020b5.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Norse", sans-serif;

}



#body {
  align-items: center;
  background-color: #b05e27;
  border: 1px solid #d4ac2b;
  border-radius: 15px;
  box-shadow: 0 18px 40px -12px #b05e27;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 700px;
  justify-content: space-between;
  margin: 100px auto;
  padding: 20px 0;
  width: 500px;
}

#display-div {
  background-color: #f5eedc;
  border: 1px solid #d4ac2b;
  border-radius: 10px;
  width: 90%;
  height: 80px;
  color: #a2792f;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  padding: 0 20px;
  margin-top: 20px;
  word-wrap: break-word;
  word-break: break-all;
}

#previous,
#current {
  font-weight: bold;
}

#previous {
  font-size: 2rem;
  color: rgba(162, 121, 47, .75);
}

#current {
  font-size: 2.5rem;
}

#button-container {
  margin-top: 30px;
  flex-grow: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 85%;
}

.buttons {
  background-color: #f5eedc;
  border: 1px solid #d4ac2b;
  border-radius: 0.75em;
  color: #a2792f;
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
  transform-style: preserve-3d;
}

.symbols {
  background-color: #ffce45;
  font-size: 1.5rem;
}

.power {
  background-color: #f9e0ae;
  font-size: 1.5rem;
}

.buttons:hover,
.symbols:hover,
.power:hover {
  transform: translate(0, 0.25em);
}

.buttons:active,
.symbols:active,
.power:active {
  transform: translate(0em, 0.75em);
}

.buttons:hover {
  background: #ffce45;
}

.buttons:active,
.symbols:hover,
.power:hover {
  background: #f5eedc;
}

.symbols:active {
  background: #ffce45;
}

.power:active {
  background: #f9e0ae;
}

.battery, .battery:hover {
  color: #d4ac2b;
  background-color: #D3504A;
  border: none;
}